.list-item-custom {
    background-color: black;
    color: whitesmoke;
    border: none;
}

.stat {
    font-size: 14px;
}

.card-shadow {
    /* box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset; */
    /* box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px; */
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.player-card {
    transition: 0.4s ease-out;
    position: relative;
    left: 0px;
}

.player-card:not(:first-child) {
    margin-left: -50px;
}

.player-card:hover {
    transform: translateY(-20px);
    transition: 0.4s ease-out;
}

.player-card:hover~.player-card {
    position: relative;
    left: 70px;
    transition: 0.4s ease-out;
}