.list-item-custom {
    background-color: black;
    color: whitesmoke;
    border: none;
}

.stat {
    font-size: 14px;
}

.card-shadow {
    /* box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset; */
    /* box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px; */
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.team-cards-view .player-card {
    transition: 0.4s ease-out;
    position: relative;
    left: 0px;
}

.team-cards-view .player-card:not(:first-child) {
    margin-left: -50px;
}

.team-cards-view .player-card:hover {
    transform: translateY(-20px);
    transition: 0.4s ease-out;
}

.team-cards-view .player-card:hover~.player-card {
    position: relative;
    left: 70px;
    transition: 0.4s ease-out;
}


.team-cards-collapse-left {
    display: flex;
    justify-content: left;
}

.team-cards-collapse-left .player-card {
    transition: 0.4s ease-out;
}

.team-cards-collapse-left .player-card:not(:first-child) {
    margin-left: -18em;
    /*Correct way to do stacking affect, make position absolute, left 0px, top 0px
    each subsequent card, add pixels to top or left. Change z-index for each card. Do this with JS*/
}

.team-cards-collapse-right {
    display: flex;
    justify-content: right;
}

.team-cards-collapse-right .player-card {
    transition: 0.4s ease-out;
    right: 0px
}

.team-cards-collapse-right .player-card:not(:last-child) {
    margin-right: -18em;

    /*have to give cards correct z-index for stacking, use JS*/

    /*Correct way to do stacking affect, make position absolute, left 0px, top 0px
    each subsequent card, add pixels to top or left. Change z-index for each card. Do this with JS*/
}